<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Details</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Group Details</h1>
    </header>
    <div class="container">
        <div class="group-details">
            <h2>{{.Name}}</h2>
            <p>ID: {{.ID}}</p>
            <p>Members:</p>
            <ul>
                {{range .Members}}
                <li>{{.}}</li>
                {{end}}
            </ul>
            <p>Creation Date: {{.CreationDate}}</p>
            <p>First Album: {{.FirstAlbum}}</p>
            <p>Date Locations:</p>
            <ul>
                {{range $key, $value := .DateLocations}}
                <li>{{$key}}: {{range $value}}{{.}}, {{end}}</li>
                {{end}}
            </ul>
        </div>
    </div>
</body>
</html>