@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    background-color: #252729; /* Koyu mavi arka plan */
    color: #fff; /* Beyaz metin */
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #34495e; /* Daha koyu mavi arka plan */
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #ea3521; /* Neon kırmızı */
    font-size: 3rem;
    margin-top: 50px;
    text-shadow: 0 0 20px #e74c3c; /* Neon kırmızı gölge */
}

.group-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #252729; /* Daha koyu mavi arka plan */
    padding: 20px;
}

.group-item {
    width: 200px;
    margin-bottom: 20px;
    background-color: #252729; /* Koyu mavi arka plan */
    box-shadow: 0 4px 8px #ea3521; /* Neon pembe gölge */
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.group-item:hover {
    transform: translateY(-40px);
}

.group-item img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #e74c3c; /* Neon kırmızı */
}

.group-info {
    padding: 20px;
}

h2 {
    margin-top: 0;
    color: #ce2f1d; /* Neon yeşil */
}

a {
    display: block;
    text-align: center;
    color: #000000; /* Neon kırmızı */
    text-decoration: none;
    margin-top: 10px;
    transition: color 0.3s ease;
    font-weight: bold; /* Kalın yazı stilini belirtin */
    font-size: 16px; /* İstenilen font boyutunu ayarlayın */
}

a:hover {
    color: #d35400; /* Neon turuncu */
}

.buttons {
    background-color: #d22626; /* Örnek bir renk */
    border: none; /* Kenarlık olmadan */
    color: #fff; /* Metin rengi beyaz */
    padding: 0.5% 0.5%; /* Buton içi dolgusu */


    text-align: center; /* Metni ortala */
    text-decoration: none; /* Metin altı çizgisini kaldır */
    display: inline-block; /* Butonun satırda görünmesi */
    font-size: 16px; /* Metin boyutu */
    border-radius: 5px; /* Köşe yuvarlaklığı */
    transition: background-color 0.3s ease; /* Geçiş efekti */
}

.buttons:hover {
    background-color: #ea261f; /* Hover durumunda arka plan rengi değişimi */
}